
.venv/
.vscode/
__pycache__/
*.pyc
.env


cache_*/
dataset_patches/
masks_changed/
raw_small/
test_imgs/
testDir/
wslData/
archive/

outputs/
hist_res/
tensorboard_logs*/
*.db
*results.json

*.pth
*.pt
*.ckpt


HistoKit-main/